/*
 * Hover.css - Demo Page
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover
 * Hover.css Copyright Ian Lunn 2017.
 */

/**
 * The following are default styles for the demo page,
 * you don't need to include these on your own site.
 */




.sep {
  color: #ddd;
  margin: 0 4px;
}



.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 20px;
}


p,
[class^="hvr-"] {

}

[class^="hvr-"] {
  margin: .4em;
  padding: 1em;
  cursor: pointer;
  background: #e1e1e1;
  text-decoration: none;
  color: #666;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  /* Smooth fonts */
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.aligncenter {
  text-align: center;
}

.sup {
    vertical-align: super;
    margin-left: -1em;
    padding: .21875em;
    line-height: 100%;
    font-size: .21875em;
    border: #eee solid 1px;
    border-radius: 4px;
    color: inherit;
}

.sup:hover {
    background: #eee;
}



.button.cta {
  display: inline-block;
  position: relative;
  margin: 1.2em 0 1em 0;
  padding: 1em;
  background: #2098D1;
  border: none;
  text-decoration: none;
  font-weight: 700;
  color: white;
}

.effects {
  margin-top: 6em;
}

.social-button {
  display: inline-block;
  vertical-align: middle;
}

.twitter-follow-button {
    display: block;
    margin: 0 auto;
}

.follow {
    margin-bottom: 20px;
    line-height: 200%;
}

.made-by {
  display: none;
  margin-top: 3em;
  padding-top: 3em;
  padding-bottom: 1em;
  font-size: 1em;
  text-align: center;
  line-height: 1.6;
  background: transparent;
  color: #777;
}

.made-by svg {
  display: block;
}

.made-by ul,
.made-by p {
  margin: 0;
  padding: 0;
}

.made-by ul {
  margin-bottom: .25em;
}

.made-by li {
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
}

.made-by p {
  margin-top: .4em;
  font-size: .875em;
}

.made-by a {
  display: inline-block;
  padding: 0 .125em;
  color: #B1B1B1;
  transition-duration: .2s;
  transition-property: color;
}

.made-by a:focus,
.made-by a:hover {
  color: white;
}

.made-by i {
  font-size: 26px;
  height: 30px;
}

.made-by .follow {
  margin-top: 2em;
}

.made-by .follow iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: .5em;
}

.made-by small {
  display: block;
  margin-top: 3em;
  font-size: .625em;
}

@-webkit-keyframes circle {
  50% {
    -webkit-transform: scale(1.26923077);
    transform: scale(1.26923077);
  }
}

@keyframes circle {
  50% {
    transform: scale(1.26923077);
  }
}

@-webkit-keyframes initials {
  50% {
    -webkit-transform: translateY(-8px) translateZ(0);
    transform: translateY(-8px) translateZ(0);
  }
}

@keyframes initials {
  50% {
    transform: translateY(-8px) translateZ(0);
  }
}

.ild-ident {
  display: block;
}

.ild-ident svg {
  display: block;
  overflow: visible;
  transform: scale(1) translateZ(0);
}

.ild-ident .circle-holder {
  transform: translate(-7px, -7px);
}

.ild-ident .circle {
  transform: translate(7px, 7px);
}

.ild-ident .active .i {
  animation: initials .4s ease-in-out;
}

.ild-ident .active .l {
  animation: initials .4s .2s ease-in-out;
}

.ild-ident .active .circle {
  animation: circle .5s .1s ease-in-out;
}
