@import "variables";
@import "mixins";

html,
body {
  height: auto;
  font-size: $base-body-font-size;
}

p, table, td, th, a, li, label, body, div, ul > li, button {
  font-size: $base-body-font-size;
  @include break-small() {
    font-size: 1rem;

  }

  @include break-medium-down() {
    font-size: 1rem;

  }

  @include break-medium() {
    

  }

  @include break-large() {
    

  }

  @include break-xlarge() {
    

  }
}

h1 {
  font-weight:$bold;
  @include break-small() {
    font-size: 2rem !important;
  }

  @include break-medium-down() {
    font-size: 2rem !important;
  }

  @include break-medium() {
    
  }

  @include break-large() {
    
  }

  @include break-xlarge() {
    
  }
}

h1.hero {
  font-weight:$bold;
  @include break-xsmall() {
    font-size: .5em !important;
    margin-top:-24px;
    margin-left:-20px;
    line-height:1px;
  }

  @include break-small() {
    font-size: .5em !important;
    margin-top:-18px;
    margin-left:-20px;
    line-height:1px;
  }

  @include break-medium-down() {
    font-size: 1.1em !important;
    margin-top:-20px;
    margin-left:-20px;    
    line-height:10px;
  }

  @include break-medium() {
    font-size: 1.65em !important;
    margin-top:-22px;
    margin-left:-34px;   
    line-height:18px;
  }

  @include break-large() {
    font-size: 2.5em !important;
    margin-top:-29px;
    margin-left:-19px;   
    line-height:28px;
  }

  @include break-xlarge() {
    
  }
}

h2 {
  font-weight:$bold;
  @include break-small() {
    font-size: 1.15rem !important;
  }

  @include break-medium-down() {
    font-size: 1.15rem !important;
  }

  @include break-medium() {
    
  }

  @include break-large() {
    
  }

  @include break-xlarge() {
    
  }
}

h3, h3.uk-panel-title, h3.am-article-subtitle {
  font-weight:$bold;
  @include break-small() {
    font-size: 1.25rem !important;
  }

  @include break-medium-down() {
    font-size: 1.25rem;
  }

  @include break-medium() {
    
  }

  @include break-large() {
    
  }

  @include break-xlarge() {
    
  }
}

h4, legend {
  font-weight:$bold;
  @include break-small() {
    font-size: 1.15rem !important;
  }

  @include break-medium-down() {
    font-size: 1.15rem !important;
  }

  @include break-medium() {
    
  }

  @include break-large() {
    
  }

  @include break-xlarge() {
    
  }
}

.uk-article-lead {
  font-weight:normal;
  @include break-small() {
    font-size: 1.15rem !important;
  }

  @include break-medium-down() {
    font-size: 1.15rem !important;
  }

  @include break-medium() {
    
  }

  @include break-large() {
    
  }

  @include break-xlarge() {
    
  }
}

 