@media (min-width: 768px) {
    .wLogin {
        max-width: 640px;
    }

    .stepsBox {
        max-width: 766px;
        margin-bottom: 25px;
    }

    .w450 {
        max-width: 450px;
    }

    .w730 {
        max-width: 730px;
    }

    .w520 {
        max-width: 520px;
    }

}

/* Extra Small */
@media (max-width:767px) {
}

/* Small */
@media (min-width:768px) and (max-width:991px) {
    .alignR {
        text-align: left;
    }

    .floatR {
        float: left;
    }
}

/* Medium */
@media (min-width:992px) and (max-width:1199px) {
}

/* Large */
@media (min-width:1200px) {
}