.upload_form_cont {

    overflow: hidden;
}

#upload_form {
    float: left;
    padding: 20px;
    width: 700px;
}

#preview {
    background-color: #fff;
    display: block;
    float: right;
    width: 420px;
}

#upload_form > div {
    margin-bottom: 10px;
}

#speed, #remaining {
    float: left;
    width: 100px;
}

#b_transfered {
    float: right;
    text-align: right;
}

.clear_both {
    clear: both;
}

#image_file {
    width: 81px;

}

#image_fileHolder {
    border: 1px solid #fff;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 1px 1px 1px #fdb940;
    -moz-box-shadow: 1px 1px 1px #fdb940;
    -webkit-box-shadow: 1px 1px 1px #fdb940;
    background-color: #e0681d; /*fallback for non-CSS3 browsers*/
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#e0681d) to(#a94d13)); /*old webkit*/
    background: -webkit-linear-gradient(#e0681d, #a94d13); /*new webkit*/
    background: -moz-linear-gradient(#e0681d, #a94d13); /*gecko*/
    background: -ms-linear-gradient(#e0681d, #a94d13); /*IE10*/
    background: -o-linear-gradient(#e0681d, #a94d13); /*opera 11.10+*/
    background: linear-gradient(#e0681d, #a94d13); /*future CSS3 browsers*/
    padding: 4px 15px;
    color: #fff;
    font-weight: 300;
    text-decoration: none;
    position: relative;
    text-align: center;
    cursor: pointer;
    font-family: "Open Sans", Verdana, Helvetica, Sans-Serif !important;
    text-decoration: none;
    width: 100px;
    margin-left: -9px;
}

#progress_info {
    font-size: 10pt;
}

#fileinfo, #error, #error2, #abort, #warnsize {
    color: #aaa;
    display: none;
    font-size: 11pt;
    font-style: italic;
    margin-top: 40px;
    margin-left: 10px;
}

#uploadButton {
    color: #aaa;
    display: none;
    margin-top: 20px;
    margin-left: 10px;
}

#progress {
    border: 1px solid #ccc;
    display: none;
    float: left;
    height: 14px;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;

    background: -moz-linear-gradient(#66cc00, #4b9500);
    background: -ms-linear-gradient(#66cc00, #4b9500);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #66cc00), color-stop(100%, #4b9500));
    background: -webkit-linear-gradient(#66cc00, #4b9500);
    background: -o-linear-gradient(#66cc00, #4b9500);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66cc00', endColorstr='#4b9500');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#66cc00', endColorstr='#4b9500')";
    background: linear-gradient(#66cc00, #4b9500);
}

#progress_percent {
    float: right;
}

#upload_response {
    margin-top: 10px;
    padding: 20px;
    overflow: hidden;
    display: none;
    border: 1px solid #ccc;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;

    box-shadow: 0 0 5px #ccc;
    background: -moz-linear-gradient(#bbb, #eee);
    background: -ms-linear-gradient(#bbb, #eee);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bbb), color-stop(100%, #eee));
    background: -webkit-linear-gradient(#bbb, #eee);
    background: -o-linear-gradient(#bbb, #eee);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbb', endColorstr='#eee');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbb', endColorstr='#eee')";
    background: linear-gradient(#bbb, #eee);
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}