
/*---------------------------------------------------------
KEY FRAME
-----------------------------------------------------------*/

/* Left to Right key frame*/

@-webkit-keyframes LeftToRight {
    49% {
        -webkit-transform : translate(100%);
    }
    50% {
        opacity           : 0;
        -webkit-transform : translate(-100%);
    }
    51% {
        opacity : 1;
    }
}

@-moz-keyframes LeftToRight {
    49% {
        -moz-transform : translate(100%);
    }
    50% {
        opacity        : 0;
        -moz-transform : translate(-100%);
    }
    51% {
        opacity : 1;
    }
}

@keyframes LeftToRight {
    49% {
        transform : translate(100%);
    }
    50% {
        opacity   : 0;
        transform : translate(-100%);
    }
    51% {
        opacity : 1;
    }
}

/* Right to Left key frame*/

@-webkit-keyframes RightToLeft {

    49% {
        -webkit-transform : translate(100%);
    }
    50% {
        opacity           : 0;
        -webkit-transform : translate(-100%);
    }
    51% {
        opacity : 1;
    }

}

@-moz-keyframes RightToLeft {
    49% {
        -webkit-transform : translate(-100%);
    }
    50% {
        opacity           : 0;
        -webkit-transform : translate(100%);
    }
    51% {
        opacity : 1;
    }
}

@keyframes RightToLeft {
    49% {
        -webkit-transform : translate(100%);
    }
    50% {
        opacity           : 0;
        -webkit-transform : translate(-100%);
    }
    51% {
        opacity : 1;
    }
}

/* Bottom to Top key frame*/

@-webkit-keyframes BottomToTop {
    49% {
        -webkit-transform : translateY(-100%);
        }
    50% {
        opacity           : 0;
        -webkit-transform : translateY(100%);
        }
    51% {
        opacity : 1;
        }
    }

@-moz-keyframes BottomToTop {
    49% {
        -moz-transform : translateY(-100%);
        }
    50% {
        opacity        : 0;
        -moz-transform : translateY(100%);
        }
    51% {
        opacity : 1;
        }
    }

@keyframes BottomToTop {
    49% {
        transform : translateY(-100%);
    }
    50% {
        opacity   : 0;
        transform : translateY(100%);
    }
    51% {
        opacity : 1;
    }
}


/* Top to Bottom key frame*/
@-webkit-keyframes TopToBottom {
    49% {
        -webkit-transform : translateY(-100%);
        }
    50% {
        opacity           : 0;
        -webkit-transform : translateY(100%);
        }
    51% {
        opacity : 1;
        }
    }

@-moz-keyframes TopToBottom {
    49% {
        -moz-transform : translateY(-100%);
        }
    50% {
        opacity        : 0;
        -moz-transform : translateY(100%);
        }
    51% {
        opacity : 1;
        }
    }

@keyframes TopToBottom {
    49% {
        transform : translateY(-100%);
    }
    50% {
        opacity   : 0;
        transform : translateY(100%);
    }
    51% {
        opacity : 1;
    }
}
