html {
    -webkit-text-size-adjust: none;
}

a {
    color: #257393;
    text-decoration: none;
    outline: 0;
}

a:hover {
    color: #666;
}

img {
    border: 0;
}

.clear {
    clear: both
}

#container {
    width: 1120px;
    margin: 0 auto;
    text-align: left;
}

#header {
    width: 1100px;
    height: 27px;
    padding: 7px 0 0 0;
    margin: 0 auto;
}

#down {
    color: #cc0000;
    border: 1px solid #cc0000;
    font-weight: bold;
    padding: 15px;
    margin: 0 10px 0 20px;
    width: 650px;
}

#bar {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

#nav {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 80%;
    float: left;
}

#nav li {
    float: left;
    margin-right: 8px;
}

#nav a {
    display: block;
    background: #545454;
    color: #fff;
    text-decoration: none;
    padding: 3px 5px 3px 5px;
}

#nav a:hover {
    display: block;
    background-color: #ccc;
    color: #333;
}

#nav a.active {
    display: block;
    background-color: #ccc;
    color: #333;
}

#nav a.icon {
    width: 16px;
    height: 16px;
    text-indent: -999em;
    padding: 0;
}

#nav .rss {
    background: #ccc url(../images/icon_sprite.png) no-repeat -1px -1px;
}

#nav .twitter {
    background: url(../images/icon_sprite.png) no-repeat -18px -1px;
}

#nav .email {
    background: url(../images/icon_sprite.png) no-repeat -35px -1px;
}

#nav .ds {
    background: url(../images/icon_sprite.png) no-repeat -52px -1px;
}

#nav .redpill a {
    background-color: #45b2b3;
}

a#btnBacktoTop {
    position: absolute;
    bottom: 5px;
    left: 20px;
    background: url(../images/arrow_top.gif) no-repeat 0 0;
    width: 93px;
    height: 20px;
    text-indent: -999em;
}

a.more_link {
    white-space: nowrap
}

#search {
    float: right;
    position: relative;
}

#search input.text {
    border: 0;
    padding: 3px 5px 3px 5px;
}

#search .search-button {
    border: 0;
    background: #545454;
    padding: 2px 4px 2px 4px;
    color: #fff;
}

#search-option {
    position: absolute;
    background: #ccc;
    border: 2px solid #666;
    padding: 10px;
    display: none;
    left: 0;
    width: 180px;
}

#search-option fieldset {
    border: 0;
    font-size: 90%;
    margin: 0;
    padding: 0;
    height: 20px;
}

p.warning {
    border: 1px solid #c05555;
    background: #f6b9b9;
    padding: 10px;
    font-weight: bold;
}

p.notice {
    border: 1px solid #5fc055;
    background: #bdf6b9;
    padding: 10px;
    font-weight: bold;
}

a.button {
    display: inline;
    height: 22px;
    line-height: 1.7em;
    background: #444;
    color: #fff;
    text-decoration: none;
    padding: 5px 8px 3px 8px;
    font-weight: bold
}

a.button:hover {
    background-color: #ccc;
    color: #333;
}

.tags ul {
    margin: 4px 0 5px 0;
    padding: 0;
    list-style: none;
    height: 20px;
}

.tags ul li {
    float: left;
    margin-right: 3px;
}

.tags ul a {
    display: block;
    background: #eee;
    border: 1px solid #eee;
    color: #aaa;
    font-size: 80%;
    padding: 1px 5px 1px 5px;
}

.tags li a:hover {
    background: #ccc;
    color: #000;
}

.tags li.date span {
    display: block;
    background: url(../images/icon_date.gif) no-repeat 0 1px;
    color: #333;
    font-size: 80%;
    padding: 1px 5px 1px 16px;
    margin-left: 5px;
}

.tags li.comment span {
    display: block;
    background: url(../images/icon_tt.gif) no-repeat 0 1px;
    color: #333;
    font-size: 80%;
    padding: 1px 5px 1px 16px;
}

.tags li.hit span {
    display: block;
    background: url(../images/icon_view.gif) no-repeat 0 2px;
    color: #333;
    font-size: 80%;
    padding: 1px 5px 1px 17px;
}

#container {
}

#content {
    width: 680px;
    border-right: 1px solid #bbb;
    float: left;
    background: url(../images/bg_sha_right.gif) repeat-y top right;
    display: inline;
    padding: 0 0 20px 0;
}

#sidebar {
    width: 438px;
    float: left;
    background: xurl(../images/bg_sha_left.gif) repeat-y 0 15px;
    display: inline;
    padding: 0 0 20px 0;
}

#intro {
    margin-bottom: 30px;
}

#intro .logo {
    margin: 10px 0 30px 10px;
    float: left;
}

#intro .logo span {
    display: none;
}

#intro .banner {
    margin: 15px 0 0 10px;
    float: right;
    width: 737px;
    height: 90px;
    overflow: hidden;
}

#intro .banner div {
    width: 768px
}

div.bsap_1243466 {
    display: block;
    margin: 0 0 0 20px;
    width: 640px !important;
    height: 100px;
}

div.bsap_1257929 {
    margin-bottom: 6px;
}

div.bsap_1238488 a {
    margin-right: 15px !important;
}

div.ads-content {
    margin-left: 86px
}

div.ads-content span {
    color: #CCCCCC;
    font-size: 75%;
    margin: 0 0 5px 0;
    display: block;
}

div.ads-promo {
    margin: 10px 0;
    height: 90px;
}

div.ads-promo span {
    color: #CCCCCC;
    font-size: 75%;
    margin: 0 0 5px 0;
    display: block;
}

div.ads-promo img {
    border: 1px solid #ccc !important;
    -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
}

div#banner-sky {
    margin-left: 2px;
}

div#banner-sky span {
    color: #CCCCCC;
    font-size: 75%;
    margin: 0 0 5px 0;
    display: block;
}

#column-one {
    width: 260px;
    float: right;
    border-left: 1px solid #ddd;
    padding-left: 13px;
}

#column-two {
    width: 160px;
    float: left;
    position: relative;
}

#column-one .ads {
    margin: 10px auto 0 0;
}

#column-one h4, #column-two h4 {
    display: block;
    height: 24px;
    margin: 0 0 10px 0;
    padding: 0;
    font-weight: bold;
    font-family: 'PT Sans Narrow', arial;
    letter-spacing: 0.03em;
    line-height: 0.85em;
    color: #333;
    border-bottom: 2px solid;
    font-size: 140%
}

h1 a {
    color: #333;
}

.ads-custom {
    display: block;
    font-size: 11px;
    color: #888;
    font-family: verdana, sans-serif;
    margin: 0 4px 10px 0;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
}

#stat {
    margin-left: 10px;
}

#stat ul {
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
}

#stat li {
    margin: 5px 0;
    background: url(../images/line_dot.gif) repeat-x bottom left;
    height: 32px;
    position: relative;
}

#stat li.last {
    background: none;
}

#stat a {
    padding-left: 35px;
    height: 29px;
}

#stat a.rss {
    display: block;
    background: url(../images/icon_sprite.png) no-repeat 0 -19px;
}

#stat a.tt {
    display: block;
    background: url(../images/icon_sprite.png) no-repeat 0 -48px;
}

#stat a.del {
    display: block;
    background: url(../images/icon_sprite.png) no-repeat 0 -77px;
}

#stat a.fb {
    display: block;
    background: url(../images/icon_sprite.png) no-repeat 0 -105px;
}

#stat a.qn {
    display: block;
    background: url(../images/icon_sprite.png) no-repeat 0 -164px;
}

#stat a.tut {
    display: block;
    background: url(../images/icon_sprite.png) no-repeat 0 -105px;
}

#stat a.post {
    display: block;
    background: url(../images/icon_sprite.png) no-repeat 0 -135px;
}

#stat .number {
    font-size: 130%;
    font-weight: 700;
    color: #333;
}

#stat .label {
    font-weight: 700;
    color: #666;
}

#stat a.toggle {
    display: block;
    font-size: 75%;
    color: #ccc;
}

#stat li.button {
    height: 20px
}

#stat li.opt {
    display: block;
}

.popup {
    position: absolute;
    top: 28px;
    left: 0px;
    background: #eee;
    width: 155px;
    padding: 5px 10px 5px 10px;
    border: 2px solid #f3ad2d;
    display: none;
    z-index: 1000;
}

.popup ul {
    margin: 0 0 0 2px;
    padding: 0;
    list-style: none;
}

.popup ul li {
    margin: 2px 0;
    padding: 2px 0;
    height: auto !important;
    border-bottom: 1px dotted #ccc;
    font-size: 90%
}

.popup ul li.last {
    border: none;
}

.popup a {
    padding: 0 0 0 13px !important;
    background: url(../images/icon_mini_rss.gif) no-repeat 0 3px;
}

.effect {
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    border-radius-topright: 10px;
    border-radius-bottomleft: 10px;
    box-shadow: 0px 0px 10px rgs(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

#code-sidebar {
}

#code-sidebar ul {
    margin: 0 0 0 0;
    padding: 0 0 0 20px;
    list-style-image: url(../images/icon_cd.gif);
}

#code-sidebar ul li {
    margin: 2px 0;
}

.col2-block {
    margin: 10px 0 20px 10px;
}

#ads-small {
    margin: 10px 0 0 10px;
}

.ads {
}

.ads span {
    display: block;
    font-size: 75%;
    color: #ccc;
    margin: 0 0 3px 0;
}

.ads span a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}

.ads span a:hover {
    color: #666;
    text-decoration: underline;
}

#ads-middle {
}

#textlink {
    border: 1px solid #ccc;
    padding: 10px;
    width: 217px;
    background-color: #f2f2f2;
}

#textlink span {
    display: block;
    font-size: 75%;
    color: #aaa;
    margin: 0 0 3px 0;
}

#textlink ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    font-size: 80%;
}

#textlink ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

#textlink li {
    border-bottom: 1px dotted #aaa;
    padding: 8px 0 5px 0;
    position: relative;
}

#textlink li a {
    font-color: #333;
}

#twitter {
}

#twitter ul {
    margin: 0 0 0 20px;
    padding: 0;
    list-style-image: url(../images/icon_tt.gif);
    font-family: georgia;
    font-size: 100%;
}

#twitter li {
    margin: 0 0 10px 0;
    color: #333;
}

#twitter a.url {
    display: block;
    font-size: 80%;
    margin: 5px 0 0 0;
    color: #47bfbe;
}

#twitter a.hash {
    font-size: 80%;
    margin: 5px 0 0 0;
    color: #666;
}

#twitter a.alias {
    display: inline;
    font-size: 80%;
    margin: 5px 0 0 0;
    color: #666;
}

#twitter span.time {
    display: block;
    font-size: 70%;
    color: #aaa;
}

#friends {
}

#friends h4 {
    margin-top: 20px;
}

#friends ul {
    margin: 0;
    padding-left: 20px;
    font-size: 90%;
}

#friends ul li {
    margin: 3px 0;
}

#news {
}

#news h4 {
    margin-top: 20px;
}

#news ul {
    margin: 0;
    padding-left: 5px;
    font-size: 90%;
    list-style: none;
}

#news ul li {
    margin: 4px 0;
    padding: 3px 0;
    border-bottom: 1px dotted #ccc;
}

.post-item {
    margin-top: 20px;
}

.pop-post {
    padding-top: 10px
}

.pop-post h3 {
    margin-bottom: 7px;
}

.pop-post ul, .post-item ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.pop-post ul li.noline {
    background: none;
}

.pop-post ul li, .post-item ul li {
    margin: 0 0 10px 0;
    background: url(../images/line_dot.gif) repeat-x bottom left;
}

.pop-post ul li .bubble, .post-item ul li .bubble {
    float: left;
    width: 35px;
    height: 32px;
    position: relative;
    overflow: hidden;
    margin: 0 10px 5px 0;
}

.pop-post ul li .bubble img, .post-item ul li .bubble img {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.pop-post ul li .bubble .mask, .post-item ul li .bubble .mask {
    width: 35px;
    height: 32px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background: url(../images/bubble.png) no-repeat 0 0;
}

.pop-post ul li a, .post-item ul li a {
    float: left;
    width: 190px;
    display: block;
    margin: 0 0 5px 0;
    font-family: arial;
    color: #257393;
}

.pop-post ul li a:hover, .post-item ul li a:hover {
    color: #666;
}

.pop-post li a.arrow {
    background: url(../images/icon_point.gif) no-repeat 10px 2px;
    padding: 0 0 0 30px;
}

.pop-code ul li {
    margin: 0 0 10px 0 !important;
}

.pop-widget .wide {
    width: 600px !important;
    margin-top: -20px;
}

.pop-widget .wide ul li {
    margin: 0 0 3px 0;
    background: none !important;
}

.pop-widget .wide ul li a {
    width: 540px !important;
    line-height: 2.0em;
}

#paging {
    overflow: hidden;
    height: 30px;
    width: 600px;
    margin-left: 20px;
}

#paging a {
    display: block;
    height: 20px;
    line-height: 1.5em;
    background: #444;
    color: #fff;
    text-decoration: none;
    padding: 3px 8px 3px 8px;
    font-weight: bold
}

#paging a:hover {
    background-color: #ccc;
    color: #333;
}

#paging a.newer {
    float: right
}

#paging a.older {
    float: left
}

#paging a.prev {
    float: left
}

#paging a.next {
    float: right
}

.pop-widget {
    margin: 0 0 10px 20px;
    padding-bottom: 10px;
    height: 295px;
}

.pop-widget .banner {
    border: 1px solid #bbb;
    background: #eee;
    height: 250px;
    width: 300px;
}

.pop-widget h3 {
    margin: 3px 0 5px 0;
    font-weight: bold;
    font-family: 'PT Sans Narrow', arial;
    letter-spacing: -0.01em;
    line-height: 1em;
    color: #333;
    font-size: 170%;
}

.pop-widget span {
    display: block;
    font-size: 75%;
    color: #ccc;
    margin: 0 0 3px 0;
}

.pop-widget .pop-ads {
    float: left;
    width: 310px;
}

.pop-widget .pop-post {
    float: left;
    width: 310px;
    margin-left: 10px;
}

.pop-post ul li a {
    width: 240px;
}

.ads-widget {
    margin: 0 0 10px 20px;
    padding-bottom: 10px;
    height: 295px;
}

.ads-widget .banner {
    height: 250px;
    width: 300px;
}

.ads-widget span {
    display: block;
    font-size: 75%;
    color: #ccc;
    margin: 0 0 3px 0;
}

.ads-widget .pop-ads {
    float: left;
    width: 310px;
}

.generic {
    width: 650px;
    margin: 0 0 0 20px;
    font-size: 90%
}

.article {
    width: 640px;
    margin: 0 0 0 20px;
    font-size: 90%
}

.generic h1, .generic h2, .generic h3, .article h1, .article h2, .article h3 {
    margin: 10px 0 15px 0;
    font-weight: bold;
    font-family: 'PT Sans Narrow', arial;
    letter-spacing: -0.01em;
    line-height: 1em;
    color: #333;
}

.generic h1, .article h1 {
    font-size: 260%
}

.generic h2, .article h2 {
    font-size: 200%;
    margin-top: 40px;
    padding-bottom: 7px;
    border-bottom: 3px solid #666;
    color: #333
}

.generic h3, .article h3 {
    font-size: 160%;
    margin-top: 30px;
    margin-bottom: 0;
    color: #0c6187
}

.generic p, .article p {
    line-height: 1.4em;
    font-size: 125%;
    margin: 8px 0;
}

.generic ul li, .article ul li {
    font-size: 110%;
}

.generic ul.arrow li, .generic ul.list li, .article ul.arrow li, .article ul.list li, .article .simplelist li {
    font-size: 110%
}

.generic ul.arrow, .article ul {
    margin: 10px;
    padding: 0 0 0 20px;
}

.generic ul.arrow li, .article ul li {
    list-style-image: url(../images/icon_point.gif);
    margin: 10px 0 10px 10px;
    line-height: 1.5em;
}

.generic ol, .article ol {
    margin: 10px;
    padding: 0 0 0 20px;
    font-size: 110%;
}

.generic ol li, .article ol li {
    margin: 10px 0 10px 10px;
    line-height: 1.5em;
}

.generic .tags ul li, .article .tags ul li {
    list-style-image: none;
    font-size: 90%;
    margin: 0;
    padding: 0;
}

.article .list, .article .simplelist, .article #simplelist, .article #resourceList {
    list-style: none;
    margin: 30px 0 30px 0;
    padding: 0;
}

.article .list li, .article .simplelist li, .article #simplelist li, .article #resourceList li {
    list-style: none;
    margin-bottom: 30px;
}

.article img, .article .list img, .article .simplelist img, .article #simplelist img, .article #resourceList img {
    border: 5px solid #ddd;
    margin: 10px 0 0 0;
}

.article img, .article .list img, .article .simplelist img, .article #simplelist img, .article #resourceList img {
    display: block
}

.article img {
    margin: 20px 0;
    display: block;
}

.article .list span, .article .simplelist span, .article #simplelist span, .article #resourceList span {
    display: block;
    margin-top: 5px;
    font-size: 115%;
}

.article .list p, .article .simplelist p, .article #simplelist p, .article #resourceList p {
    display: block;
    margin-top: 5px;
    font-size: 100%;
}

.article .list a, .article .simplelist a, .article #simplelist a, .article #resourceList a {
    font-size: 130%;
    font-weight: 700;
}

.article .list span a, .article .simplelist span a, .article #simplelist span a, .article #resourceList span a {
    font-size: 100% !important;
}

.article p.textads span {
    color: #CCCCCC;
    font-size: 75%;
    margin: 0 5px 0 0;
}

.generic span.attr, .article span.attr {
    font-style: italic;
    margin-top: -18px;
    font-size: 11px;
    display: block;
    padding-left: 0;
}

.article .list ul.arrow {
    font-size: 100%
}

.article .list ul.arrow li {
    list-style-image: url(../images/icon_point.gif);
    margin: 10px 0 10px 10px;
    line-height: 1.5em;
}

.article .list ul.arrow a {
    font-size: 100% !important;
    font-weight: normal !important
}

#inpost-ads {
    margin: 15px 0 0 0;
}

#inpost-ads span {
    color: #CCCCCC;
    font-size: 75%;
    margin: 0 0 5px 0;
    display: block;
}

#inpost-ads img {
    border: 0 solid #ddd;
    box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    margin: 0 0 0 0;
}

#inpost-ads p {
}

#inpost-mini {
    margin: 15px 0 15px 10px;
}

#inpost-mini img {
    float: left;
    width: 40px;
    height: 40px;
    border: 3px solid #fff;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
    margin: 0 10px 0 0;
}

#inpost-mini .details {
    float: left;
    width: 500px;
}

#inpost-mini .details a.title {
    font-weight: 700;
    display: block;
    margin: 3px 0;
}

#inpost-mini .details p {
    margin: 0;
    font-size: 11px;
    line-height: 1.0em;
}

#inpost-form {
    width: 600px;
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border: 1px solid #afceea;
    background: #e6f1fa;
    margin-bottom: 20px;
}

#inpost-form input#mighty-deals-subscribe-email {
    padding: 5px;
    border: 1px solid #999;
    width: 200px;
}

#inpost-form p#mighty-deal-please-txt {
    font-weight: bold;
    width: 450px;
}

#inpost-form #mighty-deals-chk-txt {
    margin-top: 10px;
    color: #999;
    font-size: 10px;
}

.abtn, .abtn:visited {
    background: url(../images/overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    position: relative;
    cursor: pointer font-size : 13 px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}

.abtn:hover {
    color: #ddd;
}

.pink, .pink:visited {
    background-color: #e22092;
}

.pink:hover {
    background-color: #c81e82;
}

.green, .green:visited {
    background-color: #91bd09;
}

.green:hover {
    background-color: #749a02;
}

.red, .red:visited {
    background-color: #e62727;
}

.red:hover {
    background-color: #cf2525;
}

.orange, .orange:visited {
    background-color: #ff5c00;
}

.orange:hover {
    background-color: #d45500;
}

.blue, .blue:visited {
    background-color: #2981e4;
}

.blue:hover {
    background-color: #2575cf;
}

.yellow, .yellow:visited {
    background-color: #ffb515;
}

.yellow:hover {
    background-color: #fc9200;
}

.article p.buttons {
    margin: 20px auto;
    text-align: center;
    border: 1px solid #ccc;
    background: #eee;
    padding: 15px;
    width: 500px;
}

.interviewer {
    font-weight: 700;
    margin: 20px 0 10px 0;
    display: block;
}

.interviewee {
    margin: 10px 0 40px 0;
    display: block;
}

.interviewer span.name, .interviewee span.name {
    float: left;
    display: block;
    width: 60px;
    margin-right: 10px;
}

.interviewer span.qna, .interviewee span.qna {
    float: left;
    display: block;
    width: 500px;
}

.interviewer span.qna {
    font-size: 140%;
}

.interviewee span.qna {
    font-size: 110%;
    line-height: 1.4em;
}

#topbanner {
    margin-top: 20px;
    padding: 5px 5px 5px 0;
}

#topbanner .banner {
    float: left;
    width: 310px;
}

#social {
    margin-top: 20px;
    padding: 5px 5px 5px 0;
}

#social .votes {
    float: left;
    width: 100%;
}

#social .media {
    width: 45px;
    margin: 0 5px 0 5px;
    padding: 0 3px 0 10px;
    float: left;
}

#social .first {
    border: 0;
}

#social .somelove {
    width: 200px;
    height: 80px;
    background: url(../images/ssl.gif) no-repeat 0 0;
    text-indent: -999em;
    margin-left: 15px;
    float: left;
}

#dbadge {
    width: 50px;
    height: 61px;
    font-family: arial;
    position: relative;
}

#dbadge .dcount {
    width: 50px;
    height: 47px;
    background: url(../images/del_sprite.gif) no-repeat 0 0;
}

#dbadge .dcount .total {
    display: block;
    color: #333;
    font-weight: bold;
    text-align: center;
    font-size: 16px;
    padding: 5px 5px 3px 5px;
}

#dbadge .dcount .viewtags {
    display: block;
    color: #666;
    text-align: center;
    font-size: 9px;
}

#dbadge .dcount .tags {
    display: none;
    font-size: 9px;
    position: absolute;
    top: 0;
    left: 0;
    background: #e6e6e6;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#dbadge .dcount .tags a {
    display: block;
    margin: 2px;
    color: #333;
    text-decoration: none;
}

#dbadge .dcount .tags a:hover {
    color: #000;
}

#dbadge .dbutton {
    width: 50px;
    height: 14px;
    background: url(../images/del_sprite.gif) no-repeat 0 -47px;;
    display: block;
    text-indent: -999em;
}

#dbadge .dbutton:hover {
    background: url(../images/del_sprite.gif) no-repeat 0 -61px;
}

.subform {
}

.subform fieldset {
    margin: 15px 0;
    padding: 0;
    border: 0;
}

.subform fieldset.button {
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

.subform label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 110%
}

.subform label span {
    color: #ccc;
    font-size: 90%
}

.subform input.text {
    border: 1px solid #ccc;
    width: 600px;
    height: 25px;
    padding: 3px 5px 0 5px;
}

.subform textarea {
    border: 1px solid #ccc;
    width: 600px;
    padding: 3px 5px 0 5px;
    font-family: arial;
    font-size: 105%;
}

.subform input.error {
    border: 1px solid #c00;
}

.post-button input.text {
    width: 484px;
    float: left;
}

.post-button a.btnGrab {
    display: block;
    height: 22px;
    line-height: 1.7em;
    background: #444;
    color: #fff;
    text-decoration: none;
    padding: 5px 8px 3px 8px;
    font-weight: bold
}

.post-button a.btnGrab:hover {
    background-color: #ccc;
    color: #333;
}

.post-button a.btnGrab {
    width: 100px;
    float: left;
    text-align: center;
}

table.tags {
}

table.tags td {
    width: 120px;
}

#codes {
}

#codes .snipplet {
    margin-bottom: 15px;
    padding-bottom: 10px;
}

#codes textarea {
}

#codes label {
    margin-top: 5px;
}

.form-images {
}

.form-images .image {
    width: 138px;
    float: left;
    border: 1px solid #efefef;
    padding: 5px;
    margin: 2px;
}

.form-images .image img {
    width: 138px;
    border: 1px solid #ccc;
}

.themes .theme {
    position: relative;
    width: 308px;
    height: 370px;
    margin: 0 15px 5px 0;
    padding: 5px 0 5px 0;
    background: #fff;
    float: left;
    overflow: hidden;
}

.themes .theme .band {
    background: transparent url('../images/premium.png') no-repeat 0 0;
    position: absolute;
    top: 0;
    left: -4px;
    z-index: 1;
    width: 90px;
    height: 89px;
}

.themes .theme a.heading {
    font-weight: bold;
    font-size: 120%;
    font-color: #333;
    margin: 5px 0 0 0;
    display: block;
}

.themes .theme img {
    width: 280px;
    border: 5px solid #ddd;
}

.themes .theme p {
    padding-top: 0;
    margin-top: 0;
}

.themes .theme p i {
    font-style: normal;
    font-size: 90%;
}

.themes .row {
}

.pthemes .ptheme {
    margin: 20px 15px 15px 0;
    padding: 5px 0 35px 0;
    background: url("../images/spt.gif") no-repeat scroll 0 bottom transparent;
}

.pthemes .ptheme .image {
    width: 280px;
    float: left;
    position: relative;
    padding: 5px;
}

.pthemes .ptheme img {
    width: 280px;
    border: 5px solid #ddd;
}

.pthemes .ptheme .band {
    background: transparent url('../images/premium.png') no-repeat 0 0;
    position: absolute;
    top: 0;
    left: 1px;
    z-index: 1;
    width: 90px;
    height: 89px;
}

.pthemes .ptheme .details {
    width: 320px;
    float: left;
    margin-left: 15px;
}

.pthemes .ptheme a.heading {
    font-weight: bold;
    font-size: 160%;
    font-color: #333;
    margin: 10px 0 10px 0;
    display: block;
    color: #0e7dab
}

.pthemes .ptheme p {
    padding-top: 0;
    margin-top: 0;
}

.pthemes .ptheme p i {
    font-style: normal;
    font-size: 90%;
}

.other-section {
    background: url(../images/spt.gif) no-repeat 0 bottom;
    margin: 0 0 12px 20px;
    padding-bottom: 20px;
}

.other-section h3 {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 160%;
    font-weight: bold;
    font-family: 'PT Sans Narrow', arial;
    letter-spacing: -0.01em;
    line-height: 1em;
    color: #333;
}

.other-section .theme {
    margin: 0 15px 5px 0;
    padding: 5px 0 5px 0;
    overflow: hidden;
}

.other-section .theme a.heading {
    font-weight: bold;
    font-size: 120%;
    font-color: #333;
    margin: 5px 0 0 0;
    display: block;
}

.other-section .theme .detail {
    float: left;
    width: 450px;
}

.other-section .theme a.img {
    float: left;
    display: block;
    width: 150px;
}

.other-section .theme img {
    border: 5px solid #ddd;
}

.other-section .theme p {
    padding-top: 0;
    margin-top: 0;
}

#result {
    margin: 0 0 0 0px;
    padding: 0;
    list-style: none;
}

#result a.heading {
    font-size: 120%;
    font-weight: 700;
}

#result sup {
    background: #333;
    color: #fff;
    padding: 2px;
}

#result p.excerpt {
    margin: 0 0 15px 0;
    padding: 0;
}

#result p.excerpt a {
    font-size: 85%;
}

.info {
}

.info .image {
    float: left;
    width: 110px;
    margin-left: 10px;
}

.info .image img {
    border: 3px solid #fff;
}

.info .image a {
    display: block;
}

.info .details {
    float: left;
    width: 500px;
    border-left: 1px solid #ccc;
    padding-left: 10px;
    min-height: 100px;
}

.info .details span {
    font-size: 100%;
    color: #aaa !important;
    display: block;
}

.info .details p {
    font-size: 110%;
    display: block;
    margin: 5px 0 10px 0;
    padding: 0;
}

.info .details h2 {
    border: none;
    margin: 0 0 10px 0;
    padding: 0;
}

.public {
    background: #eee;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.public .image {
    float: left;
    width: 120px;
    margin: 0 10px;
}

.public .image img {
    border: 3px solid #fff;
    margin-top: 0 !important;
    margin-left: 20px !important;
    margin-bottom: 7px;
}

.public .image a {
    display: block;
}

.public .details {
    float: left;
    width: 490px;
    padding: 0;
    min-height: 100px;
}

.public .details span {
    font-size: 100%;
    color: #aaa !important;
    display: block;
}

.public .details p {
    font-size: 110%;
    display: block;
    margin: 5px 0 10px 0;
    padding: 0;
}

.public h2 {
    border: none;
    margin: 10px 0 12px 25px;
    padding: 0;
}

#btnEditProfile {
    display: block;
    width: 130px;
    margin: 5px 0 10px 0;
}

#profile-edit {
    display: none;
}

#profile-edit label {
    display: block;
    margin: 0 0 10px 0;
}

#profile-edit textarea {
    font-size: 120%;
    font-family: arial;
    width: 500px;
    height: 100px;
    margin-bottom: 10px;
}

.profile .heading {
    height: 20px;
    margin-top: 25px;
}

.profile .heading h3 {
    float: left;
    margin: 0;
    padding: 0;
}

.profile .heading a {
    float: left;
    background: #ccc;
    padding: 3px 5px 3px 5px;
    color: #666;
    font-weight: 700;
    font-size: 90%;
    margin-left: 10px;
}

.profile .heading a:hover {
    background: #333;
    color: #fff;
}

.profile .heading .news {
    color: #168eb1
}

.profile .heading .wpthemes {
    color: #842b68
}

.profile .heading .freebies {
    color: #cb3b2e
}

.profile .heading .codes {
    color: #3c882f
}

.newslist {
    margin: 0;
    padding: 0;
    list-style: none;
}

.newslist li {
    margin: 5px;
    padding: 3px 0;
    border-bottom: 1px dotted #eee;
}

.newslist span.date {
    width: 80px;
    display: block;
    float: left;
    font-weight: bold;
}

.newslist span.link {
    width: 500px;
    display: block;
    float: left
}

.newslist span.click {
    width: 40px;
    display: block;
    float: left;
    text-align: right;
}

.newslist span.link a.strikethrough {
    text-decoration: line-through;
}

#comm-news {
    font-size: 100%;
}

#comm-news .news {
    margin: 20px 0;
    border-bottom: 1px dotted #ddd;
}

#comm-news a.heading {
    font-weight: bold;
    font-size: 135%
}

#comm-news p {
    margin: 5px 0;
}

#forms {
}

#forms .login-form {
    width: 300px;
    float: left;
}

#forms .signup-form {
    width: 300px;
    border-left: 1px solid #ccc;
    padding-left: 20px;
    float: right;
}

#forms fieldset {
    margin: 8px 0;
    padding: 0;
    border: 0;
}

#forms label {
    display: block;
    margin-bottom: 3px;
    font-weight: bold;
    font-size: 110%
}

#forms input.text {
    border: 1px solid #ccc;
    width: 250px;
    height: 25px;
    padding: 3px 5px 0 5px;
}

#comments {
    margin: 20px 0 0 20px;
    padding: 10px 0 0 0;
}

#comments .avatar {
    width: 120px;
    float: left;
}

#comments .avatar img {
    border: 3px solid #fff;
}

#comments .message {
    width: 480px;
    float: left;
}

#comments h2.heading {
    margin: 0 0 15px 0;
    font-weight: bold;
    font-family: 'PT Sans Narrow', arial;
    letter-spacing: -0.01em;
    line-height: 1em;
    color: #333;
    font-size: 200%;
    padding-bottom: 7px;
    border-bottom: 3px solid #666;
    color: #333
}

#comments .comment {
    position: relative;
    border-bottom: 1px dotted #ccc;
    margin: 10px 0 20px 0;
    padding: 10px 0;
}

#comments .message .name {
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
    font-size: 110%
}

#comments .message .date {
    font-size: 80%;
    display: block;
}

#comments .message .msg {
    display: block;
    margin: 10px 0;
}

#comments .reply {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: #ccc;
    padding: 3px;
    color: #666;
    font-weight: 700;
    font-size: 90%;
}

#comments .reply:hover {
    background: #333;
    color: #fff;
}

#comments a.active {
    background: none;
    color: #257393;
    font-weight: normal;
    bottom: 0;
    right: 39px;
}

#comments #comment-form h2 {
    margin-top: 0;
}

#comments #comment-form .comment-wrapper {
    padding: 10px 10px 5px 10px;
    background: #f3f3f3;
    margin: 15px 0;
}

#comment-form {
    position: relative;
    background: transparent;
    margin-left: 20px;
    font-size: 90%;
}

#comment-form .comment-wrapper {
    padding: 0 10px 0 10px;
    background: #f3f3f3
}

#comment-form h2 {
    font-size: 200%;
    margin-top: 40px;
    padding: 7px 0;
    border-bottom: 3px solid #333;
}

#comment-form p {
    font-size: 100%;
}

#comment-form fieldset {
    margin: 10px 0 10px 0;
    padding: 0;
    border: 0;
    display: block;
}

#comment-form fieldset.col {
    float: left;
    width: 310px;
}

#comment-form fieldset.col input {
    width: 250px;
}

#comment-form fieldset.button {
    text-align: right;
    padding-bottom: 10px;
}

#comment-form fieldset.button input {
    text-align: right;
    margin-right: 32px;
}

#comment-form label {
    font-weight: 700;
    width: 100px;
}

#comment-form fieldset.text {
    width: 300px;
}

#comment-form fieldset.text label {
    display: block;
}

#comment-form textarea {
    font-family: arial;
    font-size: 100%;
    width: 600px;
}

#comment-form .email {
    display: none;
}

#comment-form input, #comment-form textarea {
    border: 1px solid #ccc;
    padding: 3px;
}

#mask {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff url(../images/bigsnake.gif) no-repeat center center
}

#errors p {
    color: #c00;
    font-weight: 700;
}

p.done {
    color: #108e24;
    font-weight: 700
}

.comment-reply {
    margin: 15px 0 20px 0;
    padding: 20px 0;
    border-top: 1px dotted #ccc;
}

.comment-reply .avatar {
    margin-left: 120px;
    width: 100px !important;
}

.comment-reply .message {
    width: 400px !important;
}

.item {
    margin-bottom: 12px;
    margin-left: 20px;
    padding-bottom: 15px;
    background: url(../images/spt.gif) no-repeat 0 bottom;
}

.item h2 {
    margin: 0 0 15px 0;
    padding: 0;
    font-size: 260%;
    font-weight: bold;
    font-family: 'PT Sans Narrow', arial;
    letter-spacing: -0.01em;
    line-height: 1em;
    width: 630px
}

.item h2 a {
    color: #333
}

.item .image {
    width: 210px;
    height: 140px;
    float: left;
    position: relative;
}

.item .image img {
}

.item .image .mask {
    background: url(../images/mask_item.png) no-repeat 0 0;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 190px;
    height: 120px;
}

.item .image .mask a {
    display: block;
    width: 190px;
    height: 120px;
    text-indent: -999em;
    outline: 0;
}

.item .details {
    width: 410px;
    float: left;
    padding-bottom: 15px;
}

.item .details p {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
}

.tags ul {
    margin: 4px 0 5px 0;
    padding: 0;
    list-style: none;
    height: 20px;
}

.tags ul li {
    float: left;
    margin-right: 3px !important;
}

.tags ul a {
    display: block;
    background: #eee;
    border: 1px solid #ddd;
    color: #666;
    font-size: 80%;
    padding: 1px 5px 1px 5px;
}

.tags li a:hover {
    background: #ccc;
    color: #000;
}

.tags li.date span {
    display: block;
    background: url(../images/icon_date.gif) no-repeat 0 1px;
    color: #333;
    font-size: 80%;
    padding: 1px 5px 1px 16px;
    margin-left: 5px;
}

.tags li.comment span {
    display: block;
    background: url(../images/icon_tt.gif) no-repeat 0 1px;
    color: #333;
    font-size: 80%;
    padding: 1px 5px 1px 16px;
}

.tags li.hit span {
    display: block;
    background: url(../images/icon_view.gif) no-repeat 0 2px;
    color: #333;
    font-size: 80%;
    padding: 1px 5px 1px 17px;
}

.tags .social {
    width: 100px;
    overflow: hidden;
}

#footer {
    background: #333 url(../images/bg_footer.gif) repeat-x 0 0;
    color: #ccc;
    text-align: left;
    width: 100%;
    position: relative;
}

#footer-container {
    width: 1120px;
    margin: 0 auto;
    padding: 10px 0;
}

#footer .col {
    float: left;
    margin-right: 30px;
}

#footer .fourth {
    width: 200px;
    float: right;
}

#footer .first {
    width: 250px;
}

#footer .second, #footer .third {
    width: 260px;
}

#footer p.copyright {
    font-size: 70%;
    margin: -5px 0 0 0;
    padding: 0;
}

#footer .first a {
    color: #08a9fd
}

#footer h5 {
    margin: 10px 0 15px 0;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: 'PT Sans Narrow', arial;
    letter-spacing: -0.01em;
    line-height: 1em;
    color: #fff;
    border-bottom: 2px solid #fff;
    font-size: 140%;
}

#footer h5 span {
    color: #fe9948
}

#footer-nav a {
    padding-left: 21px;
    display: block;
    height: 16px;
    color: #ccc;
}

#footer-nav ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 5px;
}

#footer-nav li {
    margin: 5px 0;
}

#footer-nav a:hover {
    color: #08a9fd
}

#footer a.home {
    background: transparent url(../images/icon_footer.png) no-repeat 0px 0px;
}

#footer a.tuts {
    background: transparent url(../images/icon_footer.png) no-repeat 0px -17px;
}

#footer a.news {
    background: transparent url(../images/icon_footer.png) no-repeat 0px -34px;
}

#footer a.wp {
    background: transparent url(../images/icon_footer.png) no-repeat 0px -51px;
}

#footer a.free {
    background: transparent url(../images/icon_footer.png) no-repeat 0px -68px;
}

#footer a.code {
    background: transparent url(../images/icon_footer.png) no-repeat 0px -85px;
}

#footer a.contact {
    background: transparent url(../images/icon_footer.png) no-repeat 0px -102px;
}

#footer a.profile {
    background: transparent url(../images/icon_footer.png) no-repeat 0px -136px;
}

#footer a.login {
    background: transparent url(../images/icon_footer.png) no-repeat 0px -119px;
}

#footer a.logout {
    background: transparent url(../images/icon_footer.png) no-repeat 0px -119px;
}

#footer a.rss {
    background: transparent url(../images/icon_footer.png) no-repeat 0px -153px;
}

#footer a.twitter {
    background: transparent url(../images/icon_footer.png) no-repeat 0px -170px;
}

#footer a.email {
    background: transparent url(../images/icon_footer.png) no-repeat 0px -187px;
}

#footer a.ds {
    background: transparent url(../images/icon_footer.png) no-repeat 0px -204px;
}

#footer .ads-footer {
    margin: 0 auto 0 auto;
    padding: 10px 0 0 0;
    width: 1100px;
    height: 40px;
}

#qvposts {
    list-style: none;
    width: 250px;
    margin: 0;
    padding: 0 !important;
}

#qvposts li {
    list-style: none;
    margin: 3px 0;
    border-bottom: 1px dotted #444;
    padding: 5px 0;
}

#qvposts li .image {
    float: left;
    width: 30px;
    height: 30px;
    border: 2px solid #fff;
}

#qvposts li .details {
    float: left;
    width: 190px;
    margin-left: 10px;
    font-size: 90%
}

#qvposts a {
    color: #ccc;
    text-decoration: none;
    outline: none;
}

#qvposts a:hover {
    color: #08a9fd
}

#qvposts img {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#MarketGid12 table {
    width: 120px;
    margin: 0 auto;
}

#MarketGid12 table td {
    float: left;
    width: 120px;
    height: 170px;
}

#MarketGid12 table td img {
    width: 120px;
    height: 120px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    display: block;
}

.clear {
    clear: both
}

div.promo {
    margin: 10px 0;
}

div.promo img {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

#nav li a {
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

#search input.text {
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
}

#search button {
    border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
}

.item .image span.date {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.article p.buttons, .item .image span.comment {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#textlink {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.tags ul li a, .tags ul li span {
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-radius-topright: 5px;
    border-radius-bottomleft: 5px;
}

.public {
    -moz-border-radius-topright: 15px;
    -moz-border-radius-bottomleft: 15px;
    -webkit-border-top-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px;
    border-radius-topright: 15px;
    border-radius-bottomleft: 15px;
}

.info .image img, .comment .avatar img {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}

.theme img {
    box-shadow: 0px 0px 5px rgs(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#mask {
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
    -khtml-opacity: 0.8;
    opacity: 0.8;
}

*html #column-one {
    width: 260px;
    float: left;
    margin-left: 6px;
}

#sticky-ads {
    z-index: 500;
    width: 100%;
    height: 40px;
}

#sticky-ads .sticky-ads-wrapper {
    margin: 0 auto;
    display: block;
    height: 40px;
    width: 1100px;
}

#sticky-ads a {
    margin: 0 0 0 7px;
    display: block;
    height: 40px;
    width: 1100px;
}

#wdd-contest-subscribe-form {
    padding: 15px;
    width: 300px;
    margin: 0 auto;
    background: #ebf4ff;
    border: 1px solid #cde2f9;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#wdd-contest-subscribe-form input#wdd-contest-subscribe-email {
    padding: 5px;
    border: 1px solid #cde2f9;
    width: 220px;
}