html, body {
    background: #f1f1f1;
    margin: 0;
    padding: 0;
}

#container {
    width: 90%;
    margin: 0px auto;
}

#content {
    background: #fff;
    width: 100%;
    margin: 0px auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 20px 20px 20px;
    float: left;
    text-align: justify;
    color: #333;
    line-height: 26px;
}

.header {
    z-index: 99999999999;
}

.header #logo {
    font-size: 0.7em;
}

.holder {
    position: fixed;
    top: 0;
    left: 0;
}

#content .lc {
    width: 50%;
    float: left;
    box-sizing: border-box;
    padding: 0 30px;
    -moz-box-sizing: border-box;
    border-right: 4px inset #f9f9f9;
}

#content .rc {
    width: 50%;
    float: left;
    padding: 0 30px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.header {
    font-size: 3em;
    font-weight: bold;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0 20px;
    color: #fff;
    height: 105px;
}

#options, #menu {
    height: 28px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0 20px;
    margin: 0 0 42px 0;
}

#options ul, #menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

#options ul li {
    float: left;
    padding: 0 10px;
    text-transform: uppercase;
    border-right: 1px solid #eee;
}

#options ul li a {
    color: #999;
}

#menu {
    float: right;
    position: relative;
    bottom: 25px;
    left: 20px;
}

#menu ul li {
    float: left;
    font-size: 0.5em;
    padding: 0 10px;
}

#menu ul li a {
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

#menu ul li a:hover {
    color: #98e0f8;
}

.header-content {
    position: relative;
    top: 0;
}

.title {
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    top: -30px;
}

.title ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 405px;
}

.title li a {
    float: left;
    border: 4px solid #EEE;
    padding: 6px 10px;
    background: #eee;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    width: 87px;
    color: #AAA;
    margin: 0 20px 20px 0;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    border-radius: 4px;
}

.title li a:hover {
    border: 4px solid #27689b;
    background-color: #27689b;
    color: #fff;
}

.title li .c {
    background: #aaa;
    border: 4px solid #aaa;
    color: #fff;
}

@media screen and (max-width: 1000px) {

    #container {
        width: 100%;
    }

    .header {
        text-align: center;
    }

    .header-content {
        position: fixed !important;
        left: 0;
        width: 100% !important;
    }

    #menu {
        display: none;
    }

    #content {
        font-size: 0.8em;
        line-height: 20px;
    }

    #options {
        position: relative;
        top: 125px;
        border-top: 1px solid #eee;
        font-size: 0.8em;
        padding: 3px;
        float: none;
        border-bottom: 1px solid #eee;
    }

    #options li:first-of-type {
        border-left: 1px solid #eee;
    }

    #content {
        padding: 10px;
    }

    #content .lc, #content .rc {
        padding: 0 15px;
    }

}

/* ==================== IGNORE */

.go-back a {
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3);
    padding: 10px 20px;
    color: #FFF;
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

.go-back a i {
    font-size: 0.7em;
    margin: 0 10px 0 0;
}

.go-back a:hover {
    background: rgb(30, 112, 176);
}

.go-back a:active {
    box-shadow: inset 0 2px 10px rgba(0, 0, 0, 0.3);
}

.header {
    background: transparent;
    padding: 0;
    height: 115px;
    position: relative;
    margin: 0 0 40px 0;
}

.header-content {
}

.header .header-rotate {
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 999999;
    -webkit-transition: -webkit-transform 0.3s linear;
    -webkit-transform-origin: 100% 100%;
    transform-style: preserve-3d;
    perspective: 999999;
    transition: transform 0.3s linear;
    transform-origin: 100% 100%;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
}

#container .front {
    background: #2CA293;
    padding: 40px;
    height: 105px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#container .back {
    -webkit-transform: rotateX(90deg) translateZ(53px) translateY(-52px);
    transform: rotateX(90deg) translateZ(53px) translateY(-52px);
    background: #1C7768;
    padding: 40px;
    position: absolute;
    width: 100%;
    height: 105px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    top: 0;
}

#container .cover {
    background: #2CA293;
    padding: 40px;
    height: 105px;
    width: 100%;
    position: absolute;
    top: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    z-index: 99999;
}

.attached .header-rotate {
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}

#container .attached .cover {
    background: #1C7768;
}

.header a {
    color: #BFFAEE !important;
}

.header a:hover {
    color: #94EEDC !important;
}
