{% if modules %}
    <aside id="column-left" class="col-lg-3 col-md-3">
        <div class="left-col">
            {% for module in modules %}
                {{ module }}
            {% endfor %}
        </div>
    </aside>
{% endif %}
