{% if modules %}
    <aside id="column-right" class="col-lg-2 col-md-3">
        <div class="right-col">
            {% for module in modules %}
                {{ module }}
            {% endfor %}
        </div>
    </aside>
{% endif %}
