<div id="search" class="input-group">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control input-md" />
  <span class="input-group-btn">
    <button type="button" class="btn btn-default btn-md"><i class="fa fa-search"></i></button>
  </span>
</div>