
.accordion-panel {
  margin: 20px auto;
  max-width: 560px;
}
.accordion-panel .accordion {
  padding-top: 30px;
}
.accordion-panel .accordion dt {
  display: block;
  padding: 9px 14px;
  background: $primary-color;
  color: $cream;
  cursor: pointer;
  position: relative;
  user-select: none;
}
.accordion-panel .accordion dd {
  height: 0;
  overflow: hidden;
  transition: height .35s ease-out;
  margin-left: 0;
  margin-bottom: 2px;
  background: $cream;
}
.accordion-panel .accordion .content {
  padding: 15px;
  overflow: auto;
}
.accordion-panel .plus-icon {
  display: inline-block;
  width: 15px;
  height: 15px;
  position: relative;
  transition: transform 0.35s ease-out;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -8px;
}
.accordion-panel .plus-icon:before,
.accordion-panel .plus-icon:after {
  content: '';
  background: $secondary-color;
  position: absolute;
}
.accordion-panel .plus-icon:before {
  width: 2px;
  height: 15px;
  margin-left: -0.5px;
  left: 50%;
}
.accordion-panel .plus-icon:after {
  width: 15px;
  height: 2px;
  margin-top: -0.5px;
  top: 50%;
  opacity: 1;
  transition: opacity 0.35s ease-out;
}
.accordion-panel .is-open .plus-icon {
  transform: rotate(90deg);
}
.accordion-panel .is-open .plus-icon:after {
  opacity: 0;
}
.accordion-panel .hidden {
  display: none;
}
.accordion-panel .open-btn,
.accordion-panel .close-btn {
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 90px;
}
.accordion-panel .buttons-wrapper {
  position: relative;
}
.accordion-panel .buttons-wrapper .plus-icon {
  position: absolute;
  right: 10px;
  top: 12px;
}
