
/*-----------------------------------------------------
Top Bar
-------------------------------------------------------*/
.top-bar {
    height: 46px;
}
.top-bar .topbar-cta li {
    display: inline-block;
}
.top-bar .topbar-cta a {
    letter-spacing: 1px;
    line-height: 46px;
    color: #fff;
}
.ie9 .top-bar .topbar-cta a{
    letter-spacing: 0;
}
.top-bar .topbar-cta a i{
    position: relative;
    top: 7px;
}

.top-bar .social-top {
    margin-top: 13px;
    margin-bottom: 0;
}
.top-bar .social-top a i{
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #0379ae;
    text-align: center;
}
.top-bar .social-top a i:hover {
    color: #fff;
}

/*light*/
.top-bar .social-top.light a i {
  color: #fff;
}

#header .container {
    position: relative;
}

#header.transparent-header .light-header,
#header.transparent-header .dark-header,
#header.transparent-header {
    background: transparent !important;
    z-index: 1050;
}

#header.transparent-header .menuzord .logo-brand {
    z-index: 1200;
}

.logo-brand {
    float: left;
    color: #999;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    margin: 33px 30px 0 0;
    line-height: 100px;
}

.menu-appear-alt {
    display: none;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/*
Alter logo visiblity
-----------------------------------------------*/
@media screen and (min-width: 768px) {
    .transparent-header .logo-dark {
        display: none;
    }

    .transparent-header.sticky .logo-dark {
        display: inline;
    }

    .transparent-header.sticky .logo-light {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .transparent-header .logo-dark {
        display: inline;
    }
    .transparent-header .logo-light {
        display: none;
    }
}
