//
// Tabs
//


.nav-tabs {
    border: 0;
    padding: 12px;

    > .nav-item{
        > .nav-link{
            color: $default-color;
            margin: 0;
            margin-right: 5px;
            background-color: $transparent-bg;
            border: 1px solid $transparent-bg;
            border-radius: $btn-curved-radius;
            font-size: $font-size-base;
            padding: 5px;
            line-height: $line-height-general;

            &:hover {
                background-color: $transparent-bg;
            }

            &.active{
                border: 1px solid $accent-color-opacity !important;
                background-color: $white;
                border-radius: $btn-curved-radius;
            }

            i.now-ui-icons{
                font-size: 14px;
                position: relative;
                top: 1px;
                margin-right: 3px;
            }
        }

        &.disabled > .nav-link,
        &.disabled > .nav-link:hover {
            color: rgba(255,255,255,0.5);
        }
    }

    &.nav-tabs-neutral{
        > .nav-item{
            > .nav-link{
                color: $white;

                &.active{
                    border-color: $opacity-5;
                    color: $white;
                }
            }
        }
    }

    &.nav-tabs-primary{
     background-color: $primary-color;
        > .nav-item{
            > .nav-link{
                color: $white;
                background-color:$primary-color;
                &.active{
                  background-color:$white;
                  color: $primary-color;
                   border: 1px solid $accent-color-opacity !important;
                }
            }
        }
    }

  &.nav-tabs-secondary{
     background-color: $secondary-color;
    > .nav-item{
      > .nav-link{
        color: $white;
        background-color:$secondary-color;
        &.active{
          background-color:$white;
          color: $secondary-color;
           border: 1px solid $accent-color-opacity !important;
        }
      }
    }
  }

   &.nav-tabs-tertiary{
    background-color: $tertiary-color;
    > .nav-item{
      > .nav-link{
        color: $white;
        background-color:$tertiary-color;
        &.active{
          background-color:$white;
          color: $tertiary-color;
           border: 1px solid $accent-color-opacity !important;
        }
      }
    }
  }

  &.nav-tabs-accent{
     background-color: $accent-color;
    > .nav-item{
      > .nav-link{
        color: $white;
        background-color:$accent-color;
        &.active{
          background-color:$white;
          color: $accent-color;
           border: 1px solid $accent-color-opacity !important;
        }
      }
    }
  }



  &.nav-tabs-info{
        > .nav-item{
            > .nav-link{
                &.active{
                    border-color: $info-color;
                    color: $info-color;
                }
            }
        }
    }

    &.nav-tabs-danger{
        > .nav-item{
            > .nav-link{
                &.active{
                    border-color: $danger-color;
                    color: $danger-color;
                }
            }
        }
    }

    &.nav-tabs-warning{
        > .nav-item{
            > .nav-link{
                &.active{
                    border-color: $warning-color;
                    color: $warning-color;
                }
            }
        }
    }

    &.nav-tabs-success{
        > .nav-item{
            > .nav-link{
                &.active{
                    border-color: $success-color;
                    color: $success-color;
                }
            }
        }
    }

}

.vert.nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom:0;
    padding-right: 15px;
}
.vert.nav-tabs .vert.nav-link  {
    border-top-left-radius: $btn-curved-radius;
    border-top-right-radius: $btn-curved-radius;
    margin-bottom: 6px;
}

.vert.nav-tabs .vert.nav-link.active, .hor.nav-tabs .hor.nav-link.active {
@include secondary-tab-bg($secondary-color, $primary-color);
}

.vert.tab-content>.active {
    display: block;
    min-height: 165px;
}
.vert.nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    padding-right: 15px;
}

.tab-content {
  text-align:left;
  padding: 2rem 0.5rem;
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
    
  }
  > .nopad {
      padding:0;
  }
}

