html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    color: #282e2e;
    font-size: 13px;
    font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
    background-color: #5a4970;
    margin-bottom: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.page .container {
    height: auto;
    z-index: 1;
    text-align: center;
    position: relative;
    background-color: transparent;
}


/* Custom page CSS overrides
-------------------------------------------------- */
body > .container {
    padding: 60px 15px 0;
}

.card-wrapper {
    margin-top: 170px;
}

.page {
    padding: 0;
    color: #b6cccb;
    border-bottom: none;
    background-position: center center;
    background-size: cover;
}

.page .page-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.page .container {
    height: auto;
    z-index: 1;
    text-align: center;
    position: relative;
}

.page .container > .content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 0 15px;
    color: #FFFFFF;
    width: 100%;
    max-width: 880px;
}

.page.page-small {
    height: 33vh;
    max-height: 400px;
}

.page:after, .page:before {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
}

.page:before {
    /* background-color: rgba(0, 0, 0, 0.5);*/
}



#switch {

}

.img-container {
    width: 100%;
    overflow: hidden;
}

.img-container img {
    width: 100%;
}

.well {
    margin-bottom: 20px;
    background-color: rgba(80, 91, 125, .8);
    background-image: none;
    border: 1px solid #0d121c;
    border-radius: 6px 6px 0 0;
    /*    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .05);*/
}

.card {
    float: left;
    margin: .25rem;
    border: 0;
    padding: .75rem;
}

.card > img {
    margin-bottom: .75rem;
}

.card-text {
    font-size: 85%;
}

.fauxcard {

}

.fauxcard-chai {
    background: url(chai-small.jpg);
    background-size:contain;
    text-align: center;
    margin: 20px auto !important;
    background-color: transparent;
    max-width: 260px;
    height: 236px;
    border-radius: .1875rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .8);
}

.fauxcard-ethos {
    background: url(pura-small.jpg);
    background-size:contain;
    text-align: center;
    margin: 20px auto !important;
    background-color: transparent;
    max-width: 260px;
    height: 236px;
    border-radius: .1875rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .8);
}
.fauxcard-saphire {
    background: url(saphire-small.jpg);
    background-size:contain;
    text-align: center;
    margin: 20px auto !important;
    background-color: transparent;
    max-width: 260px;
    height: 236px;
    border-radius: .1875rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .8);
}
.fauxcard-chaos {
    background: url(chaos-small.jpg);
    background-size:contain;
    text-align: center;
    margin: 20px auto !important;
    background-color: transparent;
    max-width: 260px;
    height: 236px;
    border-radius: .1875rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .8);
}

.fauxcard-tera {
    background: url(tera-small.jpg);
    background-size:contain;
    text-align: center;
    margin: 20px auto !important;
    background-color: transparent;
    max-width: 260px;
    height: 236px;
    border-radius: .1875rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .8);
}

.fauxcard-argo {
    background: url(argo-small.jpg);
    background-size:contain;
    text-align: center;
    margin: 20px auto !important;
    background-color: transparent;
    max-width: 260px;
    height: 236px;
    border-radius: .1875rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .8);
}

.fauxcard-zeta {
    background: url(zeta-small.jpg);
    background-size:contain;
    text-align: center;
    margin: 20px auto !important;
    background-color: transparent;
    max-width: 260px;
    height: 236px;
    border-radius: .1875rem;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, .8);
}

p {
    border: 1px solid #934fab;
    padding: 6px;
    width: 50%;
    margin: 65px auto;
    background-color: rgba(80, 91, 125, .8);
}

a {
    font-size: 16px;
    color: #ffffff;
}

a:hover {
    text-decoration:underline;
    color:#dfd7ef;
}


@media (max-width: 778px) {
    #stretch {
        background-color: rgba(50, 55, 72, .8);
        background-size: contain;
    }
}

