<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>Onepage Event</title>


  <!-- FontAwesome CSS -->
  <link href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Material Icons CSS -->
  <link href="assets/fonts/iconfont/material-icons.css" rel="stylesheet">


  <!-- materialize -->
  <link href="assets/materialize/css/materialize.min.css" rel="stylesheet">
  <!-- Bootstrap -->
  <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- shortcodes -->
  <link href="assets/css/shortcodes/shortcodes.css" rel="stylesheet">
  <!-- Style CSS -->
  <link href="style.css" rel="stylesheet">


</head>

<body>


  <section class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h2 class="font-25 text-bold text-uppercase mb-30">UX Resources</h2>
          <div class="panel-group feature-accordion brand-accordion icon angle-icon" id="accordion-one">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                          <a data-toggle="collapse" data-parent="#accordion-one" href="#collapse-one">
                            Tech Talks
                          </a>
                        </h3>
              </div>
              <div id="collapse-one" class="panel-collapse collapse in">
                <div class="panel-body">
                  asdfadsf
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion-one" href="#collapse-two">
                            Code Labs
                          </a>
                        </h3>
              </div>
              <div id="collapse-two" class="panel-collapse collapse">
                <div class="panel-body">
                  asdfadsf
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion-one" href="#collapse-three">
                            Photo Booths
                          </a>
                        </h3>
              </div>
              <div id="collapse-three" class="panel-collapse collapse">
                <div class="panel-body">
                  asdfadsf
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                          <a class="collapsed" data-toggle="collapse" data-parent="#accordion-one" href="#collapse-four">
                            Hard Working Team
                          </a>
                        </h3>
              </div>
              <div id="collapse-four" class="panel-collapse collapse">
                <div class="panel-body">
                  asdfadsf
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.col-md-6 -->

        <div class="col-md-6">
          <h2 class="font-25 text-bold text-uppercase mb-30">UI Sandbox</h2>
          <div class="panel-group feature-accordion brand-accordion icon angle-icon" id="accordion-two">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-two" href="#collapse-a">
                          Tech Talks
                        </a>
                      </h3>
              </div>
              <div id="collapse-a" class="panel-collapse collapse in">
                <div class="panel-body">
                  asdfadsf
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-two" href="#collapse-b">
                          Code Labs
                        </a>
                      </h3>
              </div>
              <div id="collapse-b" class="panel-collapse collapse">
                <div class="panel-body">
                  asdfadsf
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-two" href="#collapse-c">
                          Photo Booths
                        </a>
                      </h3>
              </div>
              <div id="collapse-c" class="panel-collapse collapse">
                <div class="panel-body">
                  asdfadsf
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-two" href="#collapse-d">
                          Hard Working Team
                        </a>
                      </h3>
              </div>
              <div id="collapse-d" class="panel-collapse collapse">
                <div class="panel-body">
                  asdfadsf
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- /.container -->
  </section>
  <section id="grab" class="parallax-3 bg-fixed parallax-bg" data-stellar-background-ratio="0.5">
                    <div class="container">
                      <div class="wow fadeInUp whitetext">
                        <h2 class="bumpdown text-center">
                          Grap a Widget</h2>
                        <p class="centered">No need to reinvent the wheel, right? Simply copy, paste, refactor. Quick and easy on-the-go widgets with just the code you need to make it work.<br/>
                          Style it any way you like and stick it in your own apps/sites.
                        </p>
                      </div>
                      <div class="row">
                        <div class="col s12 m6 l3">
                          <div class="portfolio-item">
                            <div class="portfolio-wrapper">
                              <div class="thumb">
                                <div class="bg-overlay"></div>
                                <div class="portfolio-title">
                                  <p>
                                    <a href="#">AJAX Widget</a>
                                    <br/>
                                    <i class="small material-icons">account_circle</i>
                                  </p>
                                </div>
                                <div class="portfolio-intro">
                                  <div class="action-btn">
                                    <a href="${contextPath}/grabit/ajax/index.html" data-lity>
                                      <i class="fa fa-search fa-2x"></i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col s12 m6 l3">
                          <div class="portfolio-item">
                            <div class="portfolio-wrapper">
                              <div class="thumb">
                                <div class="bg-overlay"></div>
                                <div class="portfolio-title">
                                  <p>
                                    <a href="#">JSON Slider</a>
                                    <br/>
                                    <i class="small material-icons">album</i>
                                  </p>
                                </div>
                                <div class="portfolio-intro">
                                  <div class="action-btn">
                                    <a href="../grabit/jsonslider/index.html" data-lity>
                                      <i class="fa fa-search fa-2x"></i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col s12 m6 l3">
                          <div class="portfolio-item">
                            <div class="portfolio-wrapper">
                              <div class="thumb">
                                <div class="bg-overlay"></div>
                                <div class="portfolio-title">
                                  <p>
                                    <a href="#">Cool Flyup Window</a>
                                    <br/>
                                    <i class="small material-icons">memory</i>
                                  </p>
                                </div>
                                <div class="portfolio-intro">
                                  <div class="action-btn">
                                    <a href="../grabit/footerFly/index.html" data-lity>
                                      <i class="fa fa-search fa-2x"></i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col s12 m6 l3">
                          <div class="portfolio-item">
                            <div class="portfolio-wrapper">
                              <div class="thumb">
                                <div class="bg-overlay"></div>
                                <div class="portfolio-title">
                                  <p>
                                    <a href="#">Layered Slideshow</a>
                                    <br/>
                                    <i class="small material-icons">brightness_7</i>
                                  </p>
                                </div>
                                <div class="portfolio-intro">
                                  <div class="action-btn">
                                    <a href="../grabit/slidelayerfader/index.html" data-lity>
                                      <i class="fa fa-search fa-2x"></i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12 m6 l3">
                          <div class="portfolio-item">
                            <div class="portfolio-wrapper">
                              <div class="thumb">
                                <div class="bg-overlay"></div>
                                <div class="portfolio-title">
                                  <p>
                                    <a href="#">Search/Sort Responsive Table</a>
                                    <br/>
                                    <i class="small material-icons">track_changes</i>
                                  </p>
                                </div>
                                <div class="portfolio-intro">
                                  <div class="action-btn">
                                    <a href="../grabit/tableSearchSort/index.html" class="popwin body">
                                      <i class="fa fa-search fa-2x"></i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col s12 m6 l3">
                          <div class="portfolio-item">
                            <div class="portfolio-wrapper">
                              <div class="thumb">
                                <div class="bg-overlay"></div>
                                <div class="portfolio-title">
                                  <p>
                                    <a href="#">Animated Tab Viewer</a>
                                    <br/>
                                    <i class="small material-icons">explore</i>
                                  </p>
                                </div>
                                <div class="portfolio-intro">
                                  <div class="action-btn">
                                    <a href="../grabit/slideTabs/index.html" data-lity>
                                      <i class="fa fa-search fa-2x"></i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col s12 m6 l3">
                          <div class="portfolio-item">
                            <div class="portfolio-wrapper">
                              <div class="thumb">
                                <div class="bg-overlay"></div>
                                <div class="portfolio-title">
                                  <p>
                                    <a href="#">Smart Buttons</a>
                                    <br/>
                                    <i class="small material-icons">face</i>
                                  </p>
                                </div>
                                <div class="portfolio-intro">
                                  <div class="action-btn">
                                    <a href="../grabit/dynamicButtons/index.html" data-lity>
                                      <i class="fa fa-search fa-2x"></i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col s12 m6 l3">
                          <div class="portfolio-item">
                            <div class="portfolio-wrapper">
                              <div class="thumb">
                                <div class="bg-overlay"></div>
                                <div class="portfolio-title">
                                  <p>
                                    <a href="#">Flexbox Sticky Footer</a>
                                    <br/>
                                    <i class="small material-icons">filter_vintage</i>
                                  </p>
                                </div>
                                <div class="portfolio-intro">
                                  <div class="action-btn">
                                    <a href="../grabit/stickyFooter/index.html" class="popwin body">
                                      <i class="fa fa-search fa-2x"></i>
                                    </a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section id="contact" class="wrapper">
                    <div class="container">
                      <div class="wow fadeInUp">
                        <h2 class="bumpdown text-center">Contact<br/>
                          <small>[Q &amp; A]</small>
                        </h2>
                      </div>
                      <p class="centered">
                        Have a job opportunity you want to discuss? Or maybe ideas about creating your own site? Maybe a redesign? Some new functionality? Or something new altogether?<br/>I'd love to help you spruce up, or create from scratch, a web identity and presence that tells the world who you really are.
                      </p>
                      <div class="row">
                        <div class="col m4 push-m8 col s12">
                          <div class="card blue-grey darken-1">
                            <div class="card-content">
                              <div class="whitetext">
                                <h3>Contact Details</h3>
                                <p>9794 Coral Rd<br/>
                                  Oakland, CA 94603<br/>
                                </p>
                                <hr/>
                                <p>
                                  <i class="fa fa-phone"></i>
                                  <abbr title="Phone">P</abbr>: 206-261-7700
                                </p>
                              </div>
                              <p>
                                <span class="whitetext">
                                  <i class="fa fa-envelope-o"></i>
                                  <abbr title="Email">E</abbr>:</span>
                                <a href="mailto:am@ui-design-engineering.com">am@ui-design-engineering.com</a>
                              </p>
                              <div class="whitetext">
                                <p>
                                  <i class="fa fa-clock-o"></i>
                                  <abbr title="Hours">H</abbr>: Monday - Friday: 10:00 to 7:00
                                </p>
                              </div>
                              <div class="text-center">
                                <hr/>
                                <ul class="list-unstyled list-inline list-social-icons">
                                  <li>
                                    <a href="https://www.facebook.com/kungfurufus">
                                      <i class="fa fa-facebook-square fa-2x"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="https://www.linkedin.com/in/sassmaster">
                                      <i class="fa fa-linkedin-square fa-2x"></i>
                                    </a>
                                  </li>
                                  <li>
                                    <a href="https://github.com/zom-b-food">
                                      <i class="fa fa-github-square fa-2x"></i>
                                    </a>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col m8 pull-m4 col s12">
                          <div class="card blue-grey lighten-5">
                            <div class="card-content black-text">
                              <form class="cmxform" id="commentForm1" name="commentForm1" method="post" action="${contextPath}/authenticate.authEmail">
                                <input type="hidden" class="MEDformField" name="text2" id="text2" value="am@ui-design-engineering.com" readonly="readonly"/>
                                <table>
                                  <tr>
                                    <th colspan="2">Required
                                      <span class="red-text">*</span>
                                    </th>
                                  </tr>
                                  <tr>
                                    <td colspan="2">
                                      <span id="emailError" style="display: none;">You must enter a valid email address</span>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td width="30%" align="right">
                                      <label for="text1">Sender's email:&nbsp;<span class="red-text">*</span>
                                      </label>
                                    </td>
                                    <td width="70%">
                                      <input name="text1" id="text1" class="text required email" onblur="validateEmail(value)" type="text"/>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="right">
                                      <label for="cc">CC:&nbsp;
                                      </label>
                                    </td>
                                    <td>
                                      <input type="text" class="text email" name="cc" id="cc"/>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="right">
                                      <label for="subject">Subject:&nbsp;<span class="red-text">*</span>
                                      </label>
                                    </td>
                                    <td>
                                      <input type="text" class="text required" name="subject" id="subject"/>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td align="right">
                                      <label for="area1">Message:&nbsp;<span class="red-text">*</span>
                                      </label>
                                    </td>
                                    <td>
                                      <textarea name="area1" id="area1" class="required comments" rows="4" cols="20">Enter message here...
                                      </textarea>
                                    </td>
                                  </tr>
                                  <tr>
                                    <!--<td><input type="submit" value="Submit"></td>-->
                                    <td colspan="2" align="right">
                                      <button class="btn waves-effect waves-light" id="submitBtn" type="submit" name="action" class="disabled" disabled>Submit
                                        <i class="material-icons">send</i>
                                      </button>
                                    </td>
                                  </tr>
                                </table>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>



  <!-- jQuery -->
  <script src="assets/js/jquery-3.4.1.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script src="assets/materialize.min.js"></script>





</body>

</html>
