<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="materialize is a material design based mutipurpose responsive template">
		<meta name="keywords"
		      content="material design, card style, material template, portfolio, corporate, business, creative, agency">
		<meta name="author" content="trendytheme.net">
		<title>Full Width Slider</title>
		<!--  favicon -->
		<!-- FontAwesome CSS -->
		<link href="assets/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<!-- Material Icons CSS -->
		<link href="assets/fonts/iconfont/material-icons.css" rel="stylesheet">
		<!-- materialize -->
		<link href="assets/materialize/css/materialize.min.css" rel="stylesheet">
		<!-- Bootstrap -->
		<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<!-- RS5.0 Main Stylesheet -->
		<link rel="stylesheet" type="text/css" href="assets/revolution/css/settings.css">
		<!-- RS5.0 Layers and Navigation Styles -->
		<link rel="stylesheet" type="text/css" href="assets/revolution/css/layers.css">

	</head>
	<body>
		<!-- start revolution slider 5.0 -->
		<section class="rev_slider_wrapper">
			<div class="rev_slider materialize-slider">
				<ul>
					<!-- slide 1 start -->
					<li data-transition="fade" data-slotamount="default" data-easein="Power4.easeInOut"
					    data-easeout="Power4.easeInOut" data-masterspeed="2000"
					    data-thumb="assets/img/banner/full_5.jpg" data-rotate="0" data-fstransition="fade"
					    data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"
					    data-title="materialize Material" data-description="">
						<!-- MAIN IMAGE -->
						<img src="assets/img/banner/full_5.jpg" alt="" data-bgposition="center center"
						     data-bgfit="cover" data-bgrepeat="no-repeat" data-no-retina>
						<!-- LAYER NR. 1 -->
						<div class="tp-caption rev-heading text-extrabold white-text tp-resizeme"
						     data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']"
						     data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-50','-50']"
						     data-fontsize="['60','60','50','55']"
						     data-lineheight="['70','70','60','60']"
						     data-width="none"
						     data-height="none"
						     data-whitespace="nowrap"
						     data-transform_idle="o:1;"
						     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:900;e:Power4.easeInOut;"
						     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
						     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
						     data-start="1000"
						     data-splitin="none"
						     data-splitout="none"
						     data-responsive_offset="on"
						     style="z-index: 5; white-space: nowrap;">Materialize Material
						</div>
						<!-- LAYER NR. 2 -->
						<div class="tp-caption tp-resizeme rev-subheading white-text"
						     data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']"
						     data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','10','10']"
						     data-whitespace="nowrap"
						     data-transform_idle="o:1;"
						     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:900;e:Power4.easeInOut;"
						     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
						     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
						     data-start="1200"
						     data-splitin="none"
						     data-splitout="none"
						     data-responsive_offset="on"
						     style="z-index: 5; white-space: nowrap;">Lorem ipsum dolor sit amet, consectetur
							adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.
						</div>
						<!-- LAYER NR. 3 -->
						<div class="tp-caption tp-resizeme rev-btn  rs-parallaxlevel-0"
						     data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
						     data-y="['middle','middle','middle','middle']" data-voffset="['100','100','100','100']"
						     data-width="none"
						     data-height="none"
						     data-whitespace="nowrap"
						     data-transform_idle="o:1;"
						     data-style_hover="cursor:default;"
						     data-transform_in="y:50px;opacity:0;s:900;e:Power4.easeInOut;"
						     data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						     data-mask_out="x:inherit;y:inherit;"
						     data-start="1400"
						     data-splitin="none"
						     data-splitout="none"
						     data-responsive_offset="on"
						     style="z-index: 8; white-space: nowrap;">
							<a href="#" class="btn btn-lg  waves-effect waves-light">Explore More</a>
						</div>
					</li>
					<!-- slide 1 end -->
					<!-- slide 2 start -->
					<li data-transition="fade" data-slotamount="default" data-easein="Power4.easeInOut"
					    data-easeout="Power4.easeInOut" data-masterspeed="2000"
					    data-thumb="assets/img/banner/full_4.jpg" data-rotate="0" data-fstransition="fade"
					    data-fsmasterspeed="1500" data-fsslotamount="7" data-saveperformance="off"
					    data-title="materialize Material" data-description="">
						<!-- MAIN IMAGE -->
						<img src="assets/img/banner/full_4.jpg" alt="" data-bgposition="center center"
						     data-bgfit="cover" data-bgrepeat="no-repeat" data-no-retina>
						<!-- LAYER NR. 1 -->
						<div class="tp-caption rev-heading text-extrabold white-text tp-resizeme"
						     data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']"
						     data-y="['middle','middle','middle','middle']" data-voffset="['-100','-100','-50','-50']"
						     data-fontsize="['60','60','50','55']"
						     data-lineheight="['70','70','60','60']"
						     data-width="none"
						     data-height="none"
						     data-whitespace="nowrap"
						     data-transform_idle="o:1;"
						     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:900;e:Power4.easeInOut;"
						     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
						     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
						     data-start="1000"
						     data-splitin="none"
						     data-splitout="none"
						     data-responsive_offset="on"
						     style="z-index: 5; white-space: nowrap;">Unique Design
						</div>
						<!-- LAYER NR. 2 -->
						<div class="tp-caption tp-resizeme rev-subheading white-text"
						     data-x="['left','left','left','left']" data-hoffset="['30','30','30','30']"
						     data-y="['middle','middle','middle','middle']" data-voffset="['-10','-10','10','10']"
						     data-whitespace="nowrap"
						     data-transform_idle="o:1;"
						     data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:900;e:Power4.easeInOut;"
						     data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						     data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;"
						     data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;"
						     data-start="1200"
						     data-splitin="none"
						     data-splitout="none"
						     data-responsive_offset="on"
						     style="z-index: 5; white-space: nowrap;">Lorem ipsum dolor sit amet, consectetur
							adipisicing elit, sed do eiusmod tempor <br> incididunt ut labore et dolore magna aliqua.
						</div>
						<!-- LAYER NR. 3 -->
						<div class="tp-caption tp-resizeme rev-btn  rs-parallaxlevel-0"
						     data-x="['left','left','left','left']" data-hoffset="['0','0','0','0']"
						     data-y="['middle','middle','middle','middle']" data-voffset="['100','100','100','100']"
						     data-width="none"
						     data-height="none"
						     data-whitespace="nowrap"
						     data-transform_idle="o:1;"
						     data-style_hover="cursor:default;"
						     data-transform_in="y:50px;opacity:0;s:900;e:Power4.easeInOut;"
						     data-transform_out="y:[175%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
						     data-mask_out="x:inherit;y:inherit;"
						     data-start="1400"
						     data-splitin="none"
						     data-splitout="none"
						     data-responsive_offset="on"
						     style="z-index: 8; white-space: nowrap;">
							<a href="#" class="btn btn-lg  waves-effect waves-light">Explore More</a>
						</div>
					</li>
					<!-- slide 2 end -->
				</ul>
			</div>
			<!-- end revolution slider -->
		</section>
		<!-- end of slider wrapper -->
		<!-- jQuery -->
		<script src="assets/js/jquery-3.4.1.min.js"></script>
		<script src="assets/bootstrap/js/bootstrap.min.js"></script>
		<script src="assets/materialize.min.js"></script>
		<script src="assets/js/menuzord.js"></script>
		<!-- RS5.0 Core JS Files -->
		<script src="assets/revolution/js/jquery.themepunch.tools.min.js"></script>
		<script src="assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
		<!-- RS5.0 Init  -->
		<script type="text/javascript">
			jQuery(document).ready(function () {
				jQuery(".materialize-slider").revolution({
					sliderType: "standard",
					sliderLayout: "fullwidth",
					delay: 9000,
					navigation: {
						keyboardNavigation: "on",
						keyboard_direction: "horizontal",
						mouseScrollNavigation: "off",
						onHoverStop: "off",
						touch: {
							touchenabled: "on",
							swipe_threshold: 75,
							swipe_min_touches: 1,
							swipe_direction: "horizontal",
							drag_block_vertical: false
						},
						arrows: {
							style: "gyges",
							enable: true,
							hide_onmobile: false,
							hide_onleave: true,
							tmp: '',
							left: {
								h_align: "left",
								v_align: "center",
								h_offset: 10,
								v_offset: 0
							},
							right: {
								h_align: "right",
								v_align: "center",
								h_offset: 10,
								v_offset: 0
							}
						}
					},
					responsiveLevels: [1240, 1024, 768, 480],
					gridwidth: [1170, 1024, 768, 480],
					gridheight: [700, 600, 500, 500],
					disableProgressBar: "on",
					parallax: {
						type: "mouse",
						origo: "slidercenter",
						speed: 2000,
						levels: [2, 3, 4, 5, 6, 7, 12, 16, 10, 50],
					}
				});
			});
		</script>
		<script type="text/javascript"
		        src="assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	</body>
</html>