body {
    background-color: #ffffff;

}

a:link {
    font-size: 10px;
    font-family: verdana, arial, georgia, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    font-size: 10px;
    font-family: verdana, arial, georgia, sans-serif;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #E39604;
}

a.left:link {
    font-size: 10px;
    font-family: verdana, arial, georgia, sans-serif;
    color: #E39604;
    text-decoration: none;
    font-weight: bold;
}

a.left:visited {

}

a.left:hover {
    color: #0c0c60;
}

a.footer:link {
    font-size: 10px;
    font-family: verdana, arial, georgia, sans-serif;
    color: #1871C3;
    text-decoration: none;
    font-weight: normal;
}

a.footer:visited {
    color: #1871C3;
}

a.footer:hover {
    text-decoration: none;
    color: #E39604;
}

#sampleFrameDiv {
    margin-left: -6px;
}

#sampleFrameTable {
    width: 540px;

    border-top: 1px dotted #cad0c9;
}

.black {
    background: url(./../images/codeBackGround.gif) top left repeat;
    font-size: 10px;
    font-family: verdana, arial, georgia, sans-serif;
    color: #000000;
    line-height: 14px;
    text-align: left;
}

.normal {
    font-size: 11px;
    font-family: verdana, arial, georgia, sans-serif;
    color: #202067;
    line-height: 16px;
}

.tightnormal {
    font-size: 11px;
    font-family: verdana, arial, georgia, sans-serif;
    color: #202067;
}

.nolink {
    font-size: 10px;
    font-family: verdana, arial, georgia, sans-serif;
    color: #E39604;

}

.navnobold {
    font-size: 10px;
    font-family: verdana, arial, georgia, sans-serif;
    color: #1871C3;
    font-weight: normal;
    line-height: 16px;
}

.navnolink {
    font-size: 10px;
    font-family: verdana, arial, georgia, sans-serif;
    color: #E39604;
    font-weight: bold;
    line-height: 16px;
}

.normalbold {
    font-size: 12px;
    font-family: verdana, arial, georgia, sans-serif;
    color: #202067;
    line-height: 19px;
    padding-bottom: 5px;
    font-weight: bold;
}

.subhead {
    font-size: 12px;
    font-family: verdana, arial, georgia, sans-serif;
    color: #666666;
    line-height: 18px;
    font-weight: bold;
}

p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;
    line-height: 16px;
    font-weight: normal;
}

.local {
    font-size: 13px;
    font-family: verdana, arial, georgia, sans-serif;
    color: #395832;
    font-weight: bold;
    background-color: #ffffff;
    padding-right: 8px;
    border-top: 1px solid #d0d1b4;
    border-bottom: 1px dotted #b3b588;
}

.webding {
    font-family: webdings;
    font-size: 8px;
    font-style: normal;
    line-height: 12px;
    font-weight: normal;
    color: #336633;
}

.header {
    margin-top: -10px;
    margin-left: -6px;
    background-color: #ffffff;
    padding-bottom: 6px;
    width: 718px;
    height: 36px;
}

img.mo {
    opacity: 100;
    filter: alpha(opacity=50);
    height: 42px;
    width: 105px;
}