:focus {
    outline: 0;
}

ol, ul {
    list-style: none;
}

code {
    font-family: Candara, "Courier", "Lucida Console", Monaco;
    color: #000;
}

p {
    padding-bottom: 8px;
}

table {
    border-collapse: separate;
    border-spacing: 0;
}

caption, th, td {
    text-align: left;
    font-weight: normal;
}

iframe {
    overflow: hidden;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}

blockquote, q {
    quotes: "" "";
}

acronym {
    cursor: help;
    border-bottom: 1px dashed #333;
}

p strong {
    font-size: 1em;
}

strong {
    font-weight: bold;
    color: #000;
}

em {
    font-style: italic;
}

hr {
    display: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

.hide {
    display: none;
}

.clear {
    clear: both;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

/* Wraps */
#header_wrap {
    height: 121px;
    padding: 0 10px;
    position: relative;
    margin-bottom: 25px;
    z-index: 99;
    min-width: 980px;
}

#content_wrap {
    padding: 0 10px;
    position: relative;
    min-width: 980px;
}

/* Page Wrap (fix float issue) */
.page_wrap {
    width: 754px;
    float: left;
}

.tut_bottom .tutorial_details {
    float: left;
    width: 250px;
    margin-right: 20px;
}

.tutorial_details {
    font-size: 13px;
    color: #383838;
    padding-top: 20px;
    float: left;
    width: 100%;
}

.tutorial_details ul {
    margin: 0 !important;
}

.tutorial_details li {
    padding: 0 !important;
    margin: 0 !important;
    background: none !important;
}

.tutorial_image {
    margin-bottom: 30px;
    overflow: hidden;
    font-size: 11px;
    font-style: italic;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    padding: 20px;
    padding-bottom: 15px;
}

.tutorial_image img {
    background-color: #f4f4f4;
    border: 1px solid #898989;
    margin: auto;
}

.tutorial_image .wp-caption {
    background-color: #f4f4f4;
    overflow: hidden;
}

.tutorial_image .wp-caption img {
    background: none;
    float: left;
}

.tutorial_image p.wp-caption-text {
    clear: left;
    border-top: none;
    font-size: 11px;
    padding: 10px;
    text-align: center;
    font-style: italic;
    color: #575757;
}

/* Syntax Highlighter */
.dp-highlighter {
    font-family: "Consolas", "Courier", Candara, mono;
    font-size: 12px;
    background-color: #fff;
    width: 99%;
    overflow: auto;
    margin: 15px 0px 25px 0px;
    padding-top: 1px;
}

.dp-highlighter .bar {
    padding-left: 30px;
}

.dp-highlighter.collapsed .bar, .dp-highlighter.nogutter .bar {
    padding-left: 0px;
}

.dp-highlighter ol {
    list-style: decimal !important;
    list-style: decimal-leading-zero !important;
    background-color: #fff;
    margin: 0px 0px 1px 0px;
    color: #5C5C5C;
}

.dp-highlighter.nogutter ol {
    list-style-type: none !important;
    margin-left: 0px;
}

.dp-highlighter ol li, .dp-highlighter .columns div {
    border-left: 3px solid #6CE26C;
    background-color: #f8f8f8;
    padding-left: 10px;
    line-height: 14px;
    margin-bottom: 0px;
}

.dp-highlighter.nogutter ol li, .dp-highlighter.nogutter .columns div {
    border: 0;
}

.dp-highlighter .columns {
    color: gray;
    overflow: hidden;
    width: 100%;
}

.dp-highlighter .columns div {
    padding-bottom: 5px;
}

.dp-highlighter ol li.alt {
    background-color: #fff;
}

.dp-highlighter ol li span {
    color: black;
}

#page {
    background-color: #ffffff;
    width: 710px;
}

#page .post {
    padding: 20px 30px 0 0;
}

#page .post .post_image {
    float: left;
    margin-right: 20px;
    position: relative;
}

#page .post .post_taxonomy, #page .post .session_taxonomy {
    padding-bottom: 0;
    position: relative;
    top: -1px;
}

#page .post .post_taxonomy ul li,
#page .post .session_taxonomy ul li {
    display: inline;
    padding: 0;
    margin: 0;
    background: none;
}

#page .post .post_taxonomy ul li a,
#page .post .session_taxonomy ul li a {
    text-decoration: none !important;
    font-size: 14px;
}

#page .post .post_taxonomy ul li span,
#page .post .session_taxonomy ul li span {
    padding: 0 7px;
}

.tut_top {
    overflow: hidden;
    margin-top: 10px;
}

.dp-highlighter .keyword {
    color: #006699;
    font-weight: bold;
}

.dp-highlighter ol li span {
    color: black;
    font-size: 1.1em;
}

blockquote {
    border-top: 1px dashed #dfdfdf;
    border-bottom: 1px dashed #dfdfdf;
    display: block;
    width: 100%;
    margin: 30px 0;
    margin-top: 10px;
    clear: both;
    color: #414141;
    font-family: "Myriad Pro", Verdana, sans-serif;
    font-size: 1.25em;
    line-height: 23px;
    font-style: italic;
}

blockquote p {
    padding: 0;
    font-size: 1.25em;
}

blockquote .source {
    display: block;
    font-size: 1.25em;
    font-family: Candara, Verdana, Arial, sans-serif;
    font-style: normal;
}

blockquote.pullquote,
div.pullquote {
    width: 255px;
    text-align: center;
    font-size: 1.25em;
    line-height: 30px;
    border: 1px solid #ddd;
    float: right;
    margin: 30px 0 30px 30px;
}

blockquote.pullquote p,
div.pullquote p {
    padding: 30px;
}

code, pre {
    font-family: Candara, "Courier", "Lucida Console", Monaco, sans-serif;
    color: #15410c;
    font-size: 1.15em;
    font-weight: bold;
}

#page .preview {
    overflow: hidden;
}

#page .preview h1 {
    width: 722px;
    font-size: 22px;
    line-height: 32px;
    padding-left: 0;
}

#page .post .post_taxonomy,
#page .post .session_taxonomy {
    padding-bottom: 8px;
    position: relative;
    top: -1px;
}

#page .post .post_taxonomy ul,
#page .post .session_taxonomy ul {
    font-size: 14px;
    line-height: 14px !important;
    color: #999;
    font-style: italic;
    margin-bottom: 0;
}

#page .post .post_meta {
    background: none repeat scroll 0 0 #F3F3F3;
    color: #616161;
    float: left;
    font-size: 14px;
    font-style: italic;
    padding: 1px 4px;
}

#page hr {
    width: 100%;
    height: 1px;
    background: #dfdfdf;
    margin: 20px 0;
    display: block;
    border: none;
    clear: both;
}

/* Headings */
#page h2 {
    color: #074804;
    font-size: 23px;
    padding-bottom: 20px;
    text-shadow: 0 1px 0 #fff;
}

#page h2 span {
    font-size: 14px;
    color: #5f5f5f;
    font-weight: bold;
}

#page h4 {
    color: #616161;
    font-size: 1.25em;
    margin-bottom: 4px;
    padding-bottom: 0;
    padding-top: 0;
    text-shadow: 0 1px 0 #FFFFFF;
}